
<h2> Bibli_Foot </h2>


<div id="<%= dom_id club %>" class="card">
  <p>
    <%= club.name %>
  </p>

  
  <div class="img-container">
    <%= image_tag club.photo %>
  </div>

  <p>
    <%= club.city %>
  </p>

  <p>
    <%= club.coach %>
  </p>

  <p>
    <%= club.creation_date %>
  </p>

</div>
