
<div id="<%= dom_id player %>" class="card">
  <div class="img-container">
    <%= player.photo %>
  </div>

  <p>
    <%= player.name %>
  </p>

  <p>
    <%= player.surname %>
  </p>

  <p>
    <%= player.age %>
  </p>

  <p>
    <%= link_to player.club.name, club_path(player.club) %>
  </p>

  <p>
    <%= player.position %>
  </p>

</div>
